//Footer Version One
.say-helow{
    border-bottom: 1px solid #4e4e4e8b;
}
.max-300{
    max-width: 305px;
}
.footer-thumbv1-wrap{
    position: relative;
    .animation-boxfooter{
        position: absolute;
        top: 50%;
        left: 30%;
        width: 365px;
        height: 365px;
        border-radius: 50%;
        background: var(--p1);
        transform: translateY(-30%);
        @include maxQuery(767){
            width: 250px;
            height: 250px;
            &::after,
            &::before{
                width: 250px;
                height: 250px;
            }
        }
        @include maxQuery(480){
            width: 160px;
            height: 160px;
            &::after,
            &::before{
                width: 160px;
                height: 160px;
            }
        }
        .video-bg{
            position: absolute;
            top: 50%;
            left: 50%;
        }
        &::after{
            animation: sfoot1 4s linear infinite;
        }
    }
    .footer-browse-btn{
        display: flex;
        justify-content: center;
    }
    .footer-thumb1{
        z-index: 1;
        position: relative;
        @include maxQuery(1199){
            @include minQuery(991){
                img{
                    max-width: 500px;
                }
            }
        }
        @include minQuery(1199){
            img{
                max-width: 600px;
            }
        }
    }
}
@keyframes sfoot1 {
    10%{
        top: 0;
        left: 0;
        transform: scale(1.2);
        width: 100%;
        height: 100%;
    }
    20%{
        transform: scale(1.4);
        top: 0;
        left: 0;
        opacity: 0.8;
    }
    50%{
        transform: scale(1.5);
        top: 0;
        left: 0;
        opacity: 0.7;
    }
    80%{
        transform: scale(1.6);
        top: 0;
        left: 0;
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        transform: scale(1.6);
        top: 0;
        left: 0;
    }
}
@keyframes sfoot2 {
    10%{
        top: 0;
        left: 0;
        transform: scale(0.5);
        width: 100%;
        height: 100%;
    }
    20%{
        transform: scale(0.9);
        top: 0;
        left: 0;
        opacity: 0.8;
    }
    50%{
        transform: scale(0.5);
        top: 0;
        left: 0;
        opacity: 0.7;
    }
    80%{
        transform: scale(0.2);
        top: 0;
        left: 0;
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: scale(3.6);
        top: 0;
        left: 0;
    }
}

//common animation one

.video-bg span {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    z-index: -1;
    @include maxQuery(767){
        width: 100px;
        height: 100px;
    }
    @include maxQuery(480){
        width: 60px;
        height: 60px;
    }
  }
.video-bg span:nth-child(1)::before {
    animation-delay: 5s;
  }
.video-bg span::after, .video-bg span::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.2px solid #b0fe3a98;
    animation: videoTwo 8s linear infinite;
  }
  .video-bg span:nth-child(1)::after {
    animation-delay: 1s;
  }
  .video-bg span:nth-child(2)::before {
    animation-delay: 6s;
  }
  .video-bg span:nth-child(2)::after {
    animation-delay: 2s;
  }
  .video-bg span:nth-child(3)::before {
    animation-delay: 7s;
  }
  .video-bg span:nth-child(3)::after {
    animation-delay: 3s;
  }
  .video-bg span:nth-child(4)::after {
    animation-delay: 4s;
  }
  .video-bg span::after, .video-bg span::before {
    border: 0.2px solid #b0fe3a7c;
  }
  @keyframes videoTwo {
    0% {
      transform: translate(-50%, -50%) scale(2.3);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(5);
      opacity: 0;
      width: 300px;
      height: 300px;
    }
  }
  //common animation Two
  .video-bg2 span {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    z-index: -1;
    @include maxQuery(767){
        width: 100px;
        height: 100px;
    }
    @include maxQuery(480){
        width: 60px;
        height: 60px;
    }
  }
.video-bg2 span:nth-child(1)::before {
    animation-delay: 5s;
  }
.video-bg2 span::after, .video-bg2 span::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--act3);
    animation: videoTwo2 8s linear infinite;
  }
  .video-bg2 span:nth-child(1)::after {
    animation-delay: 1s;
  }
  .video-bg2 span:nth-child(2)::before {
    animation-delay: 6s;
  }
  .video-bg2 span:nth-child(2)::after {
    animation-delay: 2s;
  }
  .video-bg2 span:nth-child(3)::before {
    animation-delay: 7s;
  }
  .video-bg2 span:nth-child(3)::after {
    animation-delay: 3s;
  }
  .video-bg2 span:nth-child(4)::after {
    animation-delay: 4s;
  }
  .video-bg2 span::after, .video-bg2 span::before {
    border: 1px solid var(--act3);
  }
  @keyframes videoTwo2 {
    0% {
      transform: translate(-50%, -50%) scale(2.3);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(5);
      opacity: 0;
      width: 300px;
      height: 300px;
    }
  }

//footer bottom
.linkfooter{
    display: flex;
    align-items: center;
    gap: 32px;
    li{
        a{
            font-size: 20px;
            font-weight: 600;
            color: var(--nw1);
            transition: all 0.4s;
            &:hover{
                color: var(--p1);
                text-decoration: underline;
            }
        }
    }
    @include maxQuery(1399){
        gap: 24px;
        li{
            a{
                font-size: 18px;
            }
        }
    }
    @include maxQuery(991){
        gap: 8px 16px;
        li{
            a{
                font-size: 16px;
            }
        }
    }
}
.social{
    li{
        a{
            border: 1px solid var(--nw1);
            display: flex;
            align-items: center;
            justify-content: center;
            @include box(40);
            border-radius: 50%;
            transition: all 0.4s ease-out;
            svg{
                transition: all 0.4s;
                path{
                    transition: all 0.4s;
                    stroke: var(--nw1);
                }
            }
            &:hover{
                background: var(--p1);
                border-color: var(--p1);
                svg{
                    path{
                        stroke: var(--n4);
                    }
                }
            }
        }
    }
}
//footer copy right
.footer-copyright{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 12px;
    .copy{
        a{
            transition: all 0.4s;
            &:hover{
                color: var(--act4);
            }
        }
    }
    .midbor{
        border: 1px solid #797979;
        border-width: 1px;
        display: block;
        height: 16px;
    }
    .designed{
        a{
            transition: all 0.4s;
            text-decoration: underline;
        }
    }
    @include maxQuery(380){
        gap: 5px 12px;
        .midbor{
            display: none;
        }
    }
}
.f2-color{
    color: var(--n4);
    font-weight: 500;
    text-decoration: underline;
    &:hover{
        color: var(--act4);
    }
}

//Footer Version Two
.footer-section2{
    .call-sun{
        position: absolute;
        top: 60px;
        left: 53px;
        img{
            animation: zoms 3s linear infinite;
            filter: brightness(0);
        }
    }
    .d-star{
        position: absolute;
        top: 300px;
        right: 80px;
        animation: zoms 2s linear infinite;
    }
    @include maxQuery(1800){
        .call-sun{
            width: 80px;
            top: 20px;
            left: 20px;
        }
        .d-star{
            width: 60px;
            right: 20px;
        }
    }
    @include maxQuery(1199){
        .call-sun{
            display: none;
        }
        .d-star{
           display: none;
        }
    }
}
@keyframes zoms {
    50%{
        transform: scale(1.1);
    }
}
.footer-v2-logo{
    @include maxQuery(1399){
        max-width: 180px;
        img{
            width: 100%;
        }
    }
}

//footer diffrent item 
.footer-item-link{
    li{
        .hover-act4{
            font-weight: 400 !important;
            &:hover{
                font-weight: 600 !important;
                text-decoration: underline;
            }
        }
        a{
            transition: all 0.4s;
        }
    }
}
.hover-act4{
    &:hover{
        color: var(--act4);
    }
}
