//Banner styel version One
.banner-section-v1{
    z-index: 1;
    &::before{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1060px;
        height: 250px;
        content: "";
        background: var(--n1);
        z-index: -1;
    }
    .slider-btn{
        position: absolute;
        right: 40px;
        bottom: 40px;
        i{
            line-height: 2;
        }
    }
    @include maxQuery(1500){
        &::before{
            width: 900px;
        }
        .slider-btn{
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
    @include maxQuery(1199){
        &::before{
            display: none;
        }
    }
    @include maxQuery(575){
        .slider-btn{
            display: none !important;
        }
    }
}
.banner-content-v1{
    padding: 120px 0 95px;
    position: relative;
    z-index: 1;
    .bn-pra{
        font-size: 18px;
        line-height: 1.5;
        max-width: 696px;
    }
    .how-cont{
        border-bottom: 1px solid ;
    }
}
.banner-content-v1customer{
    padding-top: 90px;
    position: relative;
    z-index: 2;
}
.custom-display{
    font-size: 100px;
    font-weight: 800;
    line-height: 120%;
    font-family: var(--body-font);
    span{
        display: block;
    }
}
.winner-span{
    font-size: 100px;
    font-weight: 800;
    line-height: 120%;
    font-family: var(--body-font);
    .wins{
        font-size: 100px;
        font-weight: 800;
        line-height: 120%;
        font-family: var(--body-font);
        position: relative;
        svg{
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 353px;
        }
    }
    .thumb{
        position: relative;
        display: block;
        width: 196px;
        overflow: hidden;
        img{
            border: 1px solid var(--act3);
            border-radius: 100px;
            width: 100%;
            height: 84px;
            padding: 1px;
            animation: zum 2s linear infinite;
        }
    }
    .bn-vid{
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.bn-vid{
   @include box(40);
   display: flex;
   align-items: center;
   justify-content: center; 
    background: rgba(255, 255, 255, 0.60);
    border-radius: 50%;
}
.shape-win{
    position: absolute;
    right: 70px;
    top: 350px;
}
//Banner styel version One

//Odometer items
.bn1-odometer{
    padding-top: 148px;
}
.arrow-rotate{
    animation: rots 2s linear infinite;
}
@keyframes rots {
    50%{
        transform: rotate(7deg);
    }
}
.odometer__items{
    p{
        font-size: 18px;
        font-weight: 600;
        color: var(--nw2);
        margin-top: 6px;
    }
}

//banner one car slider
.banner-oneslider{
    position: absolute;
    bottom: -12px;
    right: 0; 
    .banner-carslide-wrap{
        max-width: 960px;
        .bn-carslide-item{
            max-width: 850px;
        }
    }
    @include maxQuery(1500){
        right: -120px;
        .banner-carslide-wrap{
            max-width: 860px;
            .bn-carslide-item{
                max-width: 700px;
            }
        }
    }
    @include maxQuery(1199){
        right: -150px;
        bottom: -18px;
        .banner-carslide-wrap{
            max-width: 700px;
            .bn-carslide-item{
                max-width: 500px;
            }
        }
    }
    @include maxQuery(991){
        right: -200px;
        bottom: -18px;
        .banner-carslide-wrap{
            max-width: 700px;
            .bn-carslide-item{
                max-width: 500px;
            }
        }
    }
    @include maxQuery(767){
        right: -220px;
        bottom: -10px;
        .banner-carslide-wrap{
            max-width: 580px;
            .bn-carslide-item{
                max-width: 360px;
            }
        }
    }
    @include maxQuery(575){
       display: none;
    }
}
// Lottary service
.lotto-services-container{
    margin-left: 310px;
    position: relative;
    @include maxQuery(1800){
        margin-left: 0;
        .swiper-pagination{
            width: 100%;
            @include maxQuery(767){
                display: none !important;
            }
        }
    }
}
.swiper-pagination{
    background: rgba(255, 101, 14, 0.5);
    width: 70%;
    height: 2px;
    position: initial;
    .swiper-pagination-bullet{
        width: 200px;
        border-radius: 0;
        opacity: 0;
        transition: all 0.5s;
        height: 6px;
        &.swiper-pagination-bullet-active{
            background: var(--act4);
            opacity: 1;
            height: 6px;
        }
    }
}
.lotter-service-item{
    img{
        width: 100%;
    }
    .lotto-img{
        @include maxQuery(991){
            opacity: 0.6;
        }
    }
    .lottory-sercar{
        top: 32px;
        left: 32px;
    }
    .lbadge{
        transition: all 0.5s;
        border: 1px solid var(--p1);
    }
    .serial-badge{
        position: absolute;
        top: 50px;
        right: 20px;
        z-index: 2;
        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 90px;
            bottom: 22%;
            z-index: -1;
            border-radius: var(--number-token-0, 0px) var(--number-token-0, 0px) var(--number-token-25, 100px) var(--number-token-25, 100px);
            background: linear-gradient(180deg, rgba(254, 201, 47, 0.00) 0%, rgba(254, 201, 47, 0.70) 100%);
            transition: all 0.4s;
        }
    }
    &:hover{
        .serial-badge{
            &::before{
                bottom: -22%;
            }
        } 
        .lbadge{
            border: 1px solid var(--p1);
            background: transparent !important;
        }
    }
}
// Lottary service

// Serial Badge
.serial-badge{
    @include box(60);
    @include maxQuery(1199){
        @include box(44);
    }
}
// Serial Badge

//l badge
.lbadge{
    @include box(80);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include maxQuery(1399){
        @include box(60);
    }
    @include maxQuery(1199){
        @include box(50);
    }
}
//l badge

//luxury  selection car 
.luxury-selection-v1{
    .click-slideluxry-button{
        position: absolute;
        top: 50%;
    }
    .luxury-shape{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .cmn__collection {
        margin-bottom: -40px;
    }
    @include maxQuery(991){
        .click-slideluxry-button{
            position: absolute;
            top: initial;
            bottom: 10px;
        }
    }
}
.click-slideluxry-button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.luxury-car-item1{
    .display-three{
        @include maxQuery(1499){
            font-size: 44px;
        }
        @include maxQuery(767){
            font-size: 32px;
        }
        @include maxQuery(575){
            font-size: 20px;
        }
    }
}
//luxury  selection car 

//Howit Section
.howit-work-section{
    .howit-video{
        @include maxQuery(575){
            max-width: 240px;
        }
    }
}
.howit-video{
    width: 100%;
    img{
        width: 100%;
        border-radius: 100px;
    }
    .bn-vid{
        @include box(60);
        background: var(--n4);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.work-item1{
    .number-shadow{
        font-size: 240px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        color: var(--nw4);
        position: absolute;
        right: 0;
        top: -60px;
        display: block;
        opacity: 0.1;
    }
    @include maxQuery(1199){
        .number-shadow{
            font-size: 140px;
            top: -20px;
        }
    }
    @include maxQuery(575){
        h2{
            font-size: 28px;
        }
        .number-shadow{
            font-size: 80px;
            line-height: 120%;
            top: -0px;
        }
    }
}
//Howit Section

//Current lottery Section
.browse-more{
    .cmn__collection{
       @include box(140);
       @include maxQuery(1199){
        @include box(100);
       }
    }
}
.current-lottery-item{
    .cmn-prrice-range{
        .soldout{
            width: calc(100% - 190px);
        }
        @include maxQuery(991){
            flex-wrap: wrap;
        }
    }
    &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        background: #554AFF;
        opacity: 0.5;
        height: 323px;
        z-index: -1;
        border-radius: 24px 24px 0 0;
        clip-path: polygon(0 0, 100% 1%, 100% 44%, 0 100%);
        transition: all 0.4s;
    }
    &::before{
        position: absolute;
        top: 0px;
        left: -0px;
        width: 100%;
        height: 100%;
        content: "";
        border: 1px solid rgba(85, 74, 255, 0.10);
        border-radius: 24px;
        z-index: -1;
        background: var(--n0);
        transition: all 0.4s;
    }
    &:hover{
        &:hover{
            &::before{
                top: 12px;
                left: -12px;
                opacity: 1;
            }
        }
        &::after{
            opacity: 1;
        }
        h4{
            a{
                color: var(--s1);
            }
        }
        .pr{
            color: var(--s1);
        }
    }
}
.range-custom{
    background: rgba(85, 74, 255, 0.40);
    height: 4px;
    border-radius: 4px;
    width: 100%;
    max-width: 296px;
    &::before{
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        background: var(--s1);
        width: 70%;
        height: 100%;
        border-radius: 4px;
    }
    .curs-range{
        position: absolute;
        left: 40%;
        top: 0px;
        content: "";
        background: #9792e6;
        width: 20px;
        height: 4px;
        z-index: 3;
        &::before{
            position: absolute;
            top: -4px;
            left: 4px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: var(--s1);
            content: "";
        }
    }
}
.cmn-cartborder{
    border: 1px solid rgba(85, 74, 255, 0.10);
}
//Current lottery Section



//responsive area
@include maxQuery(1399){
    .custom-display{
        font-size: 68px;
        line-height: 110%;
    }
    .winner-span{
        font-size: 68px;
        line-height: 110%;
        .wins{
            font-size: 68px;
             line-height: 110%;
        }
    }
    .shape-win{
        top: 335px;
    }
}
@include maxQuery(1199){
    .banner-content-v1{
        padding: 70px 0 80px;
    }
    .banner-content-v1customer{
        padding-top: 50px;
    }
    .bn1-odometer{
        padding-top: 30px;
    }
}
@include maxQuery(991){
    .bn1-odometer{
        padding-top: 30px;
        .cont{
            span{
                font-size: 32px !important;
            }
        }
        p{
            font-size: 14px;
        }
    }
    .banner-content-v1customer{
        padding-top: 24px;
        padding-bottom: 70px;
    }
    .banner-content-v1{
        padding: 50px 0 0px;
    }
    .arrow-rotate,
    .shape-win{
        display: none !important;
    }
}
@include maxQuery(767){
    .banner-content-v1{
        padding: 50px 0 0px;
    }
    .custom-display{
        font-size: 38px;
    }
    .winner-span{
        font-size: 38px;
        .wins{
            font-size: 38px;
        }
    }
    .bn-pra{
        font-size: 17px !important;
    }
}
@include maxQuery(400){
    .banner-content-v1{
        padding: 40px 0 0px;
    }
    .custom-display{
        font-size: 32px;
    }
    .winner-span{
        font-size: 32px;
        .wins{
            font-size: 32px;
        }
        .thumb{
            width: 100%;
            img{
                height: 70px;
                padding: 1px;
            }
            .bn-vid{
                top: 50%;
            }
        }
    }
    .bn-pra{
        font-size: 17px !important;
    }
}
//Odometer items