//Banner styel version One
.custom-display{
    font-size: 100px;
    font-weight: 900;
    line-height: 120%;
    font-family: var(--body-font);
    span{
        display: block;
    }
}
//Banner styel version One