//Banner styel version One
.banner-section-v1{
    z-index: 1;
    &::before{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1060px;
        height: 250px;
        content: "";
        background: var(--n1);
        z-index: -1;
    }
    .slider-btn{
        position: absolute;
        right: 40px;
        bottom: 40px;
        i{
            line-height: 2;
        }
    }
    @include maxQuery(1500){
        &::before{
            width: 900px;
        }
        .slider-btn{
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
    @include maxQuery(1199){
        &::before{
            display: none;
        }
    }
    @include maxQuery(575){
        .slider-btn{
            display: none !important;
        }
    }
}
.banner-content-v1{
    padding: 120px 0 95px;
    position: relative;
    z-index: 1;
    .bn-pra{
        font-size: 18px;
        line-height: 1.5;
        max-width: 696px;
    }
    .how-cont{
        border-bottom: 1px solid ;
    }
}
.banner-content-v1customer{
    padding-top: 90px;
    position: relative;
    z-index: 2;
}
.how-cont{
    border-bottom: 1px solid ;
}
.custom-display{
    font-size: 100px;
    font-weight: 800;
    line-height: 120%;
    font-family: var(--body-font);
    span{
        display: block;
    }
}
.winner-span{
    font-size: 100px;
    font-weight: 800;
    line-height: 120%;
    font-family: var(--body-font);
    .wins{
        font-size: 100px;
        font-weight: 800;
        line-height: 120%;
        font-family: var(--body-font);
        position: relative;
        svg{
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 353px;
        }
    }
    .thumb{
        position: relative;
        display: block;
        width: 196px;
        overflow: hidden;
        img{
            border: 1px solid var(--act3);
            border-radius: 100px;
            width: 100%;
            height: 84px;
            padding: 1px;
            animation: zum 2s linear infinite;
        }
    }
    .bn-vid{
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.bn-vid{
   @include box(40);
   display: flex;
   align-items: center;
   justify-content: center; 
    background: rgba(255, 255, 255, 0.60);
    border-radius: 50%;
}
.shape-win{
    position: absolute;
    right: 70px;
    top: 350px;
}
//Banner styel version One

//banner-section-v2
.banner-section-v2{
    background: url(../../assets/images/banner/banner-v2-bg.png) no-repeat center center;
    background-size: cover;
    .shape-win{
        top: 240px;
        animation: updown 2s linear infinite;
    }
    .slider-btn{
        position: absolute;
        right: 290px;
        bottom: 260px;
    }
    @include minQuery(1900){
        overflow: visible;
    }
    @include maxQuery(1899){
        .slider-btn{
            bottom: 60px;
            left: 46%;
        }
    }
    @include maxQuery(1500){
        .bn-carslide-item{
            margin: 0 auto;
        }
        .shape-win{
            top: 180px;
        }
    }
    @include maxQuery(520){
        .slider-btn{
            bottom: 35px;
            left: 38%;
        }
        .kewta-btn{
            .kew-text{
                padding: 8px 16px;
                font-size: 13px;
            }
            .kew-arrow{
                min-width: 36px;
                min-height: 36px;
                .kt-two{
                    top: 9px;
                    left: 8px;
                    i{
                        font-size: 18px;
                    }
                }
                .kt-one{
                    top: 9px !important;
                    left: 8px !important;
                    i{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
.banner-content-v2{
    position: relative;
    .bn-v2textcar1{
        margin-top: -44px;
        @include maxQuery(767){
            display: none;
        }
    }
    .bn-v2textcar2{
        margin-top: -44px;
    }
    .banner-oneslider{
        position: initial;
        text-align: center;
        margin: 0 auto;
        .banner-carslide-wrap{
            max-width: 840px;
            margin: 0 auto;
            @include maxQuery(1399){
                @include minQuery(1199){
                    max-width: 500px;
                }
            }
            @include maxQuery(767){
                max-width: 500px;
            }
            @include maxQuery(480){
                max-width: 300px;
            }
        }
        @include maxQuery(575){
            display: block;
        }
    }
    .bn-v2cutomer{
        position: absolute;
        left: -143px;
        bottom: 35%;
        z-index: 3;
    }
    .employed-count{
        position: absolute;
        right: -140px;
        top: 38%;
        p{
            font-size: 24px;
            font-weight: 600;
            color: var(--nw2);
            max-width: 169px;
        }
    }
    @include maxQuery(1399){
        .display-two{
            font-size: 38px;
            line-height: 38px;
            .bn-v2textcar2,
            .bn-v2textcar1{
                width: 120px;
                margin-bottom: -20px;
            }
        }
        .employed-count{
            right: -100px;
            top: 51%;
        }
        .bn-v2cutomer{
            position: absolute;
            left: -100px;
            bottom: 15%;
            z-index: 3;
        }
    }
    @include maxQuery(1299){
        .bn-v2cutomer{
            position: absolute;
            left: -100px;
            bottom: 20%;
            z-index: 3;
        }
        .employed-count{
            right: -100px;
            p{
                font-size: 18px;
                line-height: 1.2;
            }
            .display-three{
                font-size: 29px;
            }
        }
    }
    @include maxQuery(991){
        .employed-count{
            right: -16px;
            top: initial;
            bottom: 24px;
            text-align: start !important;
            margin-top: 24px;
            img{
                width: 50px;
                height: 50px;
            }
            p{
                font-size: 14px;
            }
        }
        .bn-v2cutomer{
            position: initial !important;
            transform: translateY(56px);
        }
    }
    @include maxQuery(767){
        .display-two{
            font-size: 38px;
            font-weight: 700;
            span{
                font-weight: 700 !important;
            }
        }
        .bn-v2textcar2{
            display: none;
        }
    }
    @include maxQuery(520){
        .employed-count{
            display: none;
        }
        .bn-v2cutomer{
           display: none;
        }
    }
    @include maxQuery(500){
        .display-two{
            font-size: 28px;
            font-weight: 700;
            span{
                font-weight: 700 !important;
            }
        }
    }
}
.bn-v2-carshape{
    position: absolute;
    top: 220px;
    left: 0;
    animation: alf 2s linear infinite;
    @include maxQuery(1899){
        width: 180px;
        img{
            width: 100%;
        }
    }
    @include maxQuery(767){
        width: 90px;
        top: 400px;
        img{
            width: 100%;
        }
    }
    @include maxQuery(767){
       display: none;
    }
}
.bn-v2-rounging{
    position: absolute;
    top: 36%;
    left: 368px;
    animation: ske 2s linear infinite;
    @include maxQuery(1899){
        width: 80px;
        img{
            width: 100%;
        }
    }
    @include maxQuery(1299){
        left: 268px;
    }
    @include maxQuery(991){
        display: none;
    }
}
//banner-section-v2

//banner-section-v3
.banner-content-v3{
    .bn-v2textcar1{
        margin-top: -24px;
    }
    @include maxQuery(1399){
        .bn-v2textcar1{
            margin-top: -40px;
        }
    }
}
.mouse-animation{
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 120px;
    bottom: 120px;
    gap: 32px;
    .m-aniline{
        width: 4px;
        margin: 0 auto;
        svg{
            width: 4px;
        }
    }
    .m-ani{
        width: 34px;
        transition: all 0.4s;
        animation: updown 2s linear infinite;
    }
    @include maxQuery(1700){
        right: 20px;
        bottom: 20px;
    }
    @include maxQuery(1500){
        right: 10px;
        bottom: 10px;
    }
    @include maxQuery(767){
        right: 50%;
        bottom: 5px;
        transform: translateX(50%);
        z-index: 99;
        .m-aniline{
          display: none;
        }
        .m-ani{
            svg{
                path{
                    stroke: var(--n0);
                    fill: var(--n0);
                }
            }
        }
    }
    @include maxQuery(767){
        .m-ani{
            svg{
               width: 26px;
            }
        }
    } 
}
.max-520{
    max-width: 520px;
}
.banner-bike-animation{
    .video-bg2{
        position: absolute;
        top: 80%;
        left: 50%;
        z-index: 0;
        opacity: 0.8;
    }
}
.banner-bike-onewrap{
    border-top-left-radius: 856px;
    border-top-right-radius: 856px;
    max-width: 856px;
    margin: 0 auto;
    height: 400px;
    padding: 50px 5px 5px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    .bn-carslide-item{
        max-width: 580px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    @include maxQuery(991){
        height: 320px;
        .bn-carslide-item{
            max-width: 400px;
        }
    }
    @include maxQuery(550){
        height: initial;
        padding: 40px 30px 20px;
    }
}
.bnv3-countedwrap{
    position: absolute;
    bottom: 200px;
    width: 100%;
    .win-bn3-thumb{
        position: absolute;
        left: 10px;
        top: -250px;
    }
    @include maxQuery(1199){
        flex-wrap: wrap;
        position: initial;
        .win-bn3-thumb{
            position: initial;
        }
        .employed-itemv3{
            .display-five{
                font-size: 28px;
            }
        }
    }
    @include maxQuery(767){
        .win-bn3-thumb{
            width: 100px;
        }
        .banner-content-v1customer{
            padding-bottom: 35px;
        }
    }
    @include maxQuery(500){
        .win-bn3-thumb{
            display: none;
        }
        .employed-countv3{
            display: flex;
            align-items: center;
             gap: 40px;
             width: 100%;
             justify-content: center;
             text-align: center;
        }
        .banner-content-v1customer{
            padding-top: 8px;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
        }
    }
    @include maxQuery(375){
        .banner-content-v1customer{
            padding-top: 8px;
        }
    }
}
.banner-textanimation{
	position: absolute;
    right: 250px;
    top: 300px;
    background: var(--act3);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 500px;
        content: "";
        border-radius: var(--number-token-0, 0px) var(--number-token-0, 0px) var(--number-token-25, 100px) var(--number-token-25, 100px);
        background: linear-gradient(180deg, rgba(254, 201, 47, 0.00) 0%, #FEC92F 100%);
        z-index: -1;
    }
	.textcircle{
        .text{
            width: 160px;
            height: 160px;
            span{
                color: var(--n4);
            }
        }
	}
    .icon-explore{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @include maxQuery(1700){
        right: 40px;
    }
    @include maxQuery(1399){
        right: 10px;
        top: 140px;
    }
    @include maxQuery(991){
        display: none;
    }
}
.icon-explore{
    @include box(85);
    border: 1px solid var(--n4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: var(--n4);
        transition: all 0.4s;
        i{
            color: var(--n0);

        }
    }
    &:hover{
        .icon{
            transform: rotate(20deg);
        }
    }
}
.cate-gorgiousbox{
    background: var(--n4);
    clip-path: polygon(0 0, 88% 0, 100% 10%, 100% 100%, 100% 100%, 14% 100%, 0 90%, 0 0);
    padding: 40px 24px;
    position: relative;
    height: 640px;
    .gorgiour-shape{
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all 4s;
        animation: booling 4s linear infinite;
        z-index: -1;
    }
    @include maxQuery(1199){
        padding: 24px 10px;
        height: 580px;
    }
    @include maxQuery(991){
        height: initial;
        padding: 30px 20px 40px;
    }
}
.smart-content{
    @include maxQuery(1399){
        img{
            width: 60px;
        }
    }
}
@keyframes booling {
    0%{
        width: 0px;
        height: 0px;
    }
    60%{
        width: 300px;
        height: 300px;
    }
    100%{
        opacity: 0;
    }
}
//banner-section-v3

//banner Category bike v3
.categori-bikev3-item{
    .thumb{
        width: 306px;
        height: 306px;
        border-radius: 50%;
        border: 1px solid rgba(255, 101, 14, 0.20);
        transition: all 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 24px;
        img{
            margin-bottom: 24px;
        }
    }
    .content-wrap{
        transform: translateY(-72px);
        margin-bottom: -62px;
    }
    @include maxQuery(1399){
        .content-wrap{
            a{
                span{
                    font-size: 18px !important;
                }
            }
            .cmn-arrows{
                @include box(42);
                i{
                    font-size: 16px;
                }
            }
        }
    }
    @include maxQuery(1199){
        .thumb{
            width: 221px;
            height: 221px;
            img{
                margin-bottom: 5px;
            }
        }
        .content-wrap{
            transform: translateY(-0px);
            margin-bottom: 5px;
            padding: 7px 10px;
            height: 58px;
        }
    }
    @include maxQuery(991){
        .thumb{
            width: 325px;
            height: 325px;
            margin: 0 auto;
        }
    }
    @include maxQuery(767){
        .thumb{
            width: 260px;
            height: 260px;
            margin: 0 auto;
        }
        .content-wrap{
            width: 260px;
            margin: 0 auto;
        }
    }
    &:hover{
        .thumb{
            background: rgba(255, 101, 14, 0.10);
            border-color: var(--act4);
        }
        .content-wrap{
            background: var(--act4);
            .doble-cont{
                top: 50% !important;
                transform: translateY(-50%) !important;
                height: 100%;
            }
            .cont{
                color: var(--n0);
            }
            .single-cont{
                opacity: 0;
                visibility: hidden;
                transform: scale(0);
            }
        }
    }
}
.content-wrap{
    background: #FFF0E7;
    border-radius: 100px;
    justify-content: center;
    padding: 16px 16px;
    position: relative;
    transition: all 0.5s;
    width: 100%;
    overflow: hidden;
    height: 72px;
    .single-cont{
        transition: all 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .cont{
            color: var(--n4);
            font-size: 24px;
            font-weight: 700;
            display: block;
            transition: all 0.4s;
            padding-left: 10px;
            text-align: center;
            transition: all 0.5s;
        }
    }
    .doble-cont{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: -100% !important;
        left: 0;
        width: 100%;
        padding: 0px 14px 0 7px;
        transition: all 0.4s;
    }
    .cont{
        color: var(--n4);
        font-size: 24px;
        font-weight: 700;
        display: block;
        transition: all 0.4s;
        padding-left: 10px;
    }
    &:hover{
        background: var(--act4);
        .doble-cont{
            top: 50% !important;
            transform: translateY(-50%) !important;
            height: 100%;
        }
        .cont{
            color: var(--n0);
        }
        .single-cont{
            opacity: 0;
            visibility: hidden;
            transform: scale(0);
        }
    }
}
.cmn-arrows{
    @include box(48);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        font-size: 19px;
    }
    transition: all 0.4s;
    &:hover{
        transform: rotate(50deg);
    }
}
//banner Category bike v3

//banner Categoryv8
.category-v8-banner{
    .categori-bikev3-item{
        .thumb{
            .thumb-in{
                width: 160px;
                height: 190px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                @include minQuery(1199){
                    margin-bottom: 40px;
                }
            }
        }
    }
}
//banner Categoryv8

//Odometer items
.bn1-odometer{
    padding-top: 148px;
}
.arrow-rotate{
    animation: rots 2s linear infinite;
}
@keyframes rots {
    50%{
        transform: rotate(7deg);
    }
}
.odometer__items{
    p{
        font-size: 18px;
        font-weight: 600;
        color: var(--nw2);
        margin-top: 6px;
    }
}

//banner one car slider
.banner-oneslider{
    position: absolute;
    bottom: -12px;
    right: 0; 
    .banner-carslide-wrap{
        max-width: 960px;
        .bn-carslide-item{
            max-width: 850px;
        }
    }
    @include maxQuery(1500){
        right: -120px;
        .banner-carslide-wrap{
            max-width: 860px;
            .bn-carslide-item{
                max-width: 700px;
            }
        }
    }
    @include maxQuery(1199){
        right: -150px;
        bottom: -18px;
        .banner-carslide-wrap{
            max-width: 700px;
            .bn-carslide-item{
                max-width: 500px;
            }
        }
    }
    @include maxQuery(991){
        right: -200px;
        bottom: -18px;
        .banner-carslide-wrap{
            max-width: 700px;
            .bn-carslide-item{
                max-width: 500px;
            }
        }
    }
    @include maxQuery(767){
        right: -220px;
        bottom: -10px;
        .banner-carslide-wrap{
            max-width: 580px;
            .bn-carslide-item{
                max-width: 360px;
            }
        }
    }
    @include maxQuery(575){
       display: none;
    }
}
// Lottary service
.lotto-services-container{
    margin-left: 310px;
    position: relative;
    @include maxQuery(1800){
        margin-left: 0;
        .swiper-pagination{
            width: 100%;
            @include maxQuery(767){
                display: none !important;
            }
        }
    }
}
.swiper-pagination{
    background: rgba(255, 101, 14, 0.5);
    width: 70%;
    height: 2px;
    position: initial;
    .swiper-pagination-bullet{
        width: 200px;
        border-radius: 0;
        opacity: 0;
        transition: all 0.5s;
        height: 6px;
        &.swiper-pagination-bullet-active{
            background: var(--act4);
            opacity: 1;
            height: 6px;
        }
    }
}
.lotter-service-item{
    img{
        width: 100%;
    }
    .lotto-img{
        @include maxQuery(991){
            opacity: 0.6;
        }
    }
    .lottory-sercar{
        top: 32px;
        left: 32px;
    }
    .lbadge{
        transition: all 0.5s;
        border: 1px solid var(--p1);
    }
    .serial-badge{
        position: absolute;
        top: 50px;
        right: 20px;
        z-index: 2;
        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 90px;
            bottom: 22%;
            z-index: -1;
            border-radius: var(--number-token-0, 0px) var(--number-token-0, 0px) var(--number-token-25, 100px) var(--number-token-25, 100px);
            background: linear-gradient(180deg, rgba(254, 201, 47, 0.00) 0%, rgba(254, 201, 47, 0.70) 100%);
            transition: all 0.4s;
        }
    }
    &:hover{
        .serial-badge{
            &::before{
                bottom: -22%;
            }
        } 
        .lbadge{
            border: 1px solid var(--p1);
            background: transparent !important;
        }
    }
}
// Lottary service

// Serial Badge
.serial-badge{
    @include box(60);
    @include maxQuery(1199){
        @include box(44);
    }
}
// Serial Badge

//l badge
.lbadge{
    @include box(80);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include maxQuery(1399){
        @include box(60);
    }
    @include maxQuery(1199){
        @include box(50);
    }
}
//l badge


//banner four 
.banner-section-v4{
    background: rgba(255, 101, 14, 0.12);
    .banner-4v-shape{
        position: absolute;
        top: 307px;
        right: 60px;
        animation: updown 2s linear infinite;
    }
    .win-bn4-thumb{
        position: absolute;
        right: 290px;
        top: 180px;
    }
    .bnv4-countedwrap{
        position: absolute;
        right: 91px;
        bottom: 170px;
    }
    .banner-v4wraper{
        padding: 100px 0 270px;
    }
    @include maxQuery(1600){
        .banner-4v-shape{
            top: 307px;
            right: 10px;
            width: 120px;
        }
    }
    @include maxQuery(1399){
        .banner-4v-shape{
            display: none;
        }
        .win-bn4-thumb{
            top: 100px;
            right: 10px;
            width: 140px;
        }
    }
    @include maxQuery(1199){
        .banner-v4wraper{
            padding: 100px 0 170px;
        }
        .bnv4-countedwrap{
            position: initial;
            justify-content: flex-start !important;
            margin-top: -60px;
        }
    }
    @include maxQuery(991){
        .banner-v4wraper{
            padding: 0px 0 70px;
        }
        .banner-4v-shape{
            display: block;
        }
        .win-bn4-thumb{
            top: 50%;
        }
    }
    @include maxQuery(767){
        .win-bn4-thumb{
            display: none;
        }
        .banner-4v-shape{
            width: 70px;
        }
    }
    @include maxQuery(575){
        .bnv4-countedwrap{
            position: initial;
            justify-content: flex-start !important;
            margin-top: -80px;
            margin-bottom: 40px;
        }
    }
}
.banner-content-v4{
    .custom-bigarrow{
        border-color: var(--act4);
        svg{
            height: 12px;
            width: 112px;
            path{
                stroke: var(--n4);
                fill: var(--n4);
                transition: all 0.4s;
            }
        }
        &:hover{
            svg{
                path{
                    stroke: var(--n0);
                    fill: var(--n0);
                }
            } 
        }
        @include maxQuery(1199){
            .icon{
                &::before{
                    height: 34px;
                }
            }
            svg{
                width: 70px;
                height: 10px;
            }
        }
    }
    .display-two{
        @include maxQuery(1399){
            line-height: 0.7;
        }
        @include maxQuery(991){
            img{
                display: none;
            }
            line-height: 1.2;
        }
    }
    .how-cont{
        transition: all 0.4s;
        &:hover{
            color: var(--act4);
        }
    }
} 
.entry-winv4{
    li{
        i,
        a{
            color: var(--n4);
        }
    }
}
.banner-v4-thumb{
    overflow: hidden;
    position: relative;
    border-radius: 0 320px 320px 0;
    padding-bottom: 75px;
    height: 637px;
    width: 737px;
    &::before{
        position: absolute;
        top: 0;
        right: 0px;
        width: 635px;
        height: 635px;
        border-radius: 50%;
        content: "";
        background: var(--act4);
        z-index: -1;
    }
    &::after{
        position: absolute;
        top: 0;
        right: 0px;
        width: 635px;
        height: 635px;
        border-radius: 900px;
        content: "";
        background: var(--act4);
        z-index: -1;
    }
    .banner-v4-thumbbox{
        padding-top: 130px;
        padding-right: 10px;
        margin-right: -80px;
        overflow: hidden;
        .thumb{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    @include maxQuery(1399){
        height: 537px;
        width: 637px;
        &::before{
            width: 535px;
            height: 535px;
        }
        &::after{
            width: 535px;
            height: 535px;
        }
    }
    @include maxQuery(1199){
        height: 500px;
        width: 580px;
        border-radius: 0 320px 360px 0;
        .banner-v4-thumbbox{
            padding-top: 50px;
        }
        &::before{
            width: 480px;
            height: 480px;
        }
        &::after{
            width: 480px;
            height: 480px;
        }
    }
    @include maxQuery(767){
        width: 100%;
        height: initial;
        border-radius: 0 0px 0px 0;
        .banner-v4-thumbbox{
            padding-top: 0px;
            margin-right: 0;
            .thumb {
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        &::before{
            width: 280px;
            height: 280px;
        }
        &::after{
            width: 280px;
            height: 280px;
        }
    }
    @include maxQuery(480){
        &::before{
            width: 180px;
            height: 180px;
        }
        &::after{
            width: 180px;
            height: 180px;
        }
    }
}
//banner four 

//banner Five 
.banner-section-v5{
    padding-bottom: 310px;
    padding-top: 110px;
    .banner-textanimation{
        right: 340px;
        top: 140px;
        &::before{
            height: 420px;
        }
    }
    .mouse-animation{
        bottom: 80px;
        right: initial;
        left: 120px;
    }
    .arrow-v5{
        animation: ske 2s linear infinite;
    }
    @include maxQuery(1700){
        .mouse-animation{
            left: 10px;
            bottom: 10px;
        }
    }
    @include maxQuery(1399){
        .banner-textanimation{
            right: 20px;
            top: 100px;
            &::before{
                height: 420px;
            }
        }
    }
    @include maxQuery(1199){
        padding-bottom: 260px;
        padding-top: 100px; 
        .arrow-v5{
            width: 80px;
        }
    }
    @include maxQuery(991){
        padding-bottom: 260px;
        padding-top: 80px; 
    }
    @include maxQuery(767){
        padding-bottom: 220px;
        padding-top: 60px; 
    }
    @include maxQuery(575){
        padding-bottom: 220px;
        padding-top: 100px; 
        bottom: 70px;
    }
}
.banner-v5bicycle-thumb{
    width: 1000px;
    height: 650px;
    position: absolute;
    right: 0px;
    bottom: -50px;
    img{
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @include maxQuery(1399){
        width: 700px;
        height: 500px;
        bottom: 30px;
    }
    @include maxQuery(1199){
        width: 600px;
        height: 400px;
    }
    @include maxQuery(991){
        width: 500px;
        height: 300px;
        right: -20px;
    }
    @include maxQuery(767){
        width: 350px;
        height: 200px;
        right: -20px;
    }
}
//banner Five 

//Next Draw v5
.next-draw-sectionv5{
    margin-top: -200px;
    z-index: 1;
    position: relative;
}
.draw-nextwrap-v5wrap{
    background: url(../../assets/images/banner/next-drawv5.png) no-repeat center center !important;
    padding: 27px 70px 19px 27px !important;
    margin-top: 0 !important;
    .draw-netwrap-inner{
        &::before{
            display: none;
        }
        .thumb{
            margin-top: -40px !important;
        }
    }
    .right-side-nextdraw{
        gap: 55px !important;
        padding-top: 80px;
        .lborder-dot{
            font-size: 36px !important;
        }
        .text-hed{
            font-size: 36px !important;
        }
    }
    .next-arrow{
        position: absolute;
        right: -120px;
        top: -20px;
        width: 120px;
    }
    @include maxQuery(1199){
        padding: 27px 18px 19px 12px !important;
        .right-side-nextdraw{
            gap: 35px !important;
            .lborder-dot{
                font-size: 26px !important;
            }
            .text-hed{
                font-size: 26px !important;
            }
        }
        .next-arrow{
            width: 80px;
        }
    }
    @include maxQuery(767){
        background-size: cover !important;
        height: 410px !important;
        padding: 58px 10px 19px 12px !important;
        .right-side-nextdraw{
            gap: 20px !important;
        }
        .next-arrow{
           display: none;
        }
    }
}
//Next Draw v5 

//Banner Six 
.banner-section-v6{
    z-index: 1;
    .call-sun{
        position: absolute;
        right: 150px;
        top: 250px;
        width: 120px;
    }
    .customer-wining{
        display: grid;
        gap: 180px;
        align-items: center;
        position: absolute;
        right: -90px;
        bottom: 164px;
    }
    .banner-v6shape{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-48%);
        z-index: -1;
    }
    @include maxQuery(1650){
        .call-sun{
            position: absolute;
            right: 50px;
            top: 140px;
            width: 120px;
        }
    }
    @include maxQuery(1420){
        .customer-wining{
            display: grid;
            gap: 50px;
            right: -40px;
            bottom: 304px;
        }
    }
    @include maxQuery(1199){
        .customer-wining{
            display: grid;
            gap: 20px;
            right: -20px;
            bottom: 284px;
            .wing-img{
                width: 120px;
                margin: 0 auto;
            }

        }
    }
    @include maxQuery(991){
        .m-ani{
            svg{
                background: var(--n4);
                path{
                    fill: var(--act4);
                    stroke: var(--act4) !important;
                }
            }
        }
        .customer-wining{
            display: none;
        }
        .banner-v6shape{
            display: none;
        }
        .call-sun{
            display: none;
        }
    }
}
.banner-v6-containerwrap{
    .counter-textanimation-wrap{
        display: grid;
        align-items: center;
        position: absolute;
        left: -160px;
        bottom: 120px;
        gap: 230px;
    }
    @include maxQuery(1650){
        .counter-textanimation-wrap{
            display: grid;
            align-items: center;
            position: absolute;
            left: -40px;
            bottom: 120px;
            gap: 50px;
        }
    }
    @include maxQuery(1199){
        .counter-textanimation-wrap{
            display: grid;
            left: -20px;
            bottom: 180px;
            gap: 40px;
        }
    }
    @include maxQuery(991){
        .counter-textanimation-wrap{
            display: grid;
            left: -20px;
            bottom: 180px;
            gap: 40px;
            position: initial;
            .employed-countv3{
                display: flex; 
                gap: 30px;
                margin-top: 30px;
                justify-content: center;
                text-align: center;
            }
        }
    }
}
.banner-v6wrap{
    height: 500px;
    width: 100%;
    .banner-v6wrap-inner{
        position: absolute;
        bottom: 0;
        margin: 0 20px;
        width: 100%;
        .thumb{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    @include maxQuery(1399){
        height: 440px;
    }
    @include maxQuery(1199){
        height: 370px;
    }
    @include maxQuery(767){
        height: 260px;
    }
    @include maxQuery(575){
        height: initial;
        margin-top: 0px;
        .banner-v6wrap-inner{
            margin: 0 2px;
            position: initial;
        }
    }
}
.banner-textanimation-white{
    background: transparent;
    width: 200px;
    height: 200px; 
    position: relative !important;
    right: initial;
    top: initial;
    &::before{
        display: none;
    }
    border: 1px solid var(--nw4);
    .textcircle{
        .text{
            span{
                color: var(--n0);
            }
        }
    }
    .icon-explore{
        border-color: var(--nw4);
        .icon{
            background: var(--act3);
            i{
                color: var(--n0);
            }
        }
    }
}
//Banner Six 

//Banner Seven
.banner-section-v7{
    background: rgba(254, 201, 47, 0.1);
}
.banner-v7wraper{
    padding-bottom: 102px;
    .banner-v7-thumb{
        width: 100%;
        border-radius: 685px;
        img{
            border-radius: 685px;
            width: 100%;
        }
        .banner-v7-startnow{
            position: absolute;
            right: -65px;
            bottom: 120px;
            .box{
                max-width: 62px;
                span{
                    font-size: 18px;
                    color: var(--nw1);
                }
                .icon{
                    background: rgba(255, 255, 255, 0.40);
                }
            }
        }
        &::after{
            position: absolute;
            bottom: -5px;
            right: -10px;
            width: 100%;
            height: 100%;
            content: "";
            background: #FFEDB3;
            border-radius: 685px;
            z-index: -1;
            transform: rotate(-6deg);
        }
        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: -10px;
            top: -20px;
            transform: rotate(-9deg);
            border: 1px solid var(--act3);
            border-radius: 685px;
            z-index: -1;
        }
    }
    .banner-content-v7{
        p{
            max-width: 416px;
        }
    }
    @include maxQuery(1399){
        padding-bottom: 180px;
    }
    @include maxQuery(1199){
        .banner-v7-thumb{
            &::after{
                bottom: -5px;
                right: -5px;
                transform: rotate(-4deg);
            }
            &::before{
                left: -4px;
                top: -10px;
                transform: rotate(-6deg);
            }
        }
    }
    @include maxQuery(991){
        .banner-v7-thumb{
            .banner-v7-startnow{
                position: absolute;
                right: 50%;
                transform: translateX(50%);
                bottom: -120px;
            }
        }
    }
    @include maxQuery(767){
        .banner-v7-thumb{
            .banner-v7-startnow{
                position: absolute;
                right: 50%;
                transform: translateX(50%);
                bottom: 20px;
            }
            max-width: 300px;
            margin-left: auto;
        }
    }
    @include maxQuery(575){
        .banner-v7-thumb{
            margin-top: -120px;
        }
    }
}

.thumb-textvid{
    position: relative;
    border-radius: 100px;
    height: 100px;
    img{
        border: 2px solid var(--act3);
        border-radius: 100px;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .bn-vid{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include box(48);
    }
    @include maxQuery(1399){
        height: 70px;
    }
    @include maxQuery(991){
        display: none;
    }
}
.banner-v7-thumb-small{
    max-width: 306px;
    max-height: 480px;
    position: relative;
    z-index: 1;
    img{
        width: 100%;
        border-radius: 810px;
        height: 100%;
    }
    &::before{
        position: absolute;
        top: -8px;
        right: -30px;
        width: 100%;
        height: 100%;
        content: "";
        background: #FFEDB3;
        border-radius: 810px;
        z-index: -1;
        transform: rotate(8deg);
    }
    @include maxQuery(1199){
        &::before{
            top: 4px;
            right: -6px;
            transform: rotate(4deg);
        }
    }
}
//Banner Seven

//Banner Eight
.banner-section-v8{
    .scroll-bn1{
        .scroll-iconrarea{
            svg{
               path{
                stroke: var(--n0);
                fill: var(--n0);
               }
            }
        }
        left: 42.5%;
        z-index: 2;
    }
}
.rotate-arrow{
   position: absolute;
   bottom: -30px;
   left: 20px;
   @include maxQuery(1399){
    bottom: -20px;
    svg{
        width: 140px;
    }
   }
   @include maxQuery(767){
    display: none;
   }
}
.review-v8{
    .review-star{
        border-left: 1px solid rgba(239, 239, 239, 0.8);
        padding-left: 20px;
        margin-left: 20px;
    }
    @include maxQuery(1500){
        .review-star{
            padding-left: 10px;
            margin-left: 10px;
        }
    }
}

//banner 8 slider area
.banner-v8slidewrap{
    width: 1030px;
    gap: 60px;
    position: absolute;
    right: 20px;
    bottom: 0;
    .banner-rightslider-v8small{
        height: 100%;
        width: 336px;
        .mySwiper2{
            .swiper-slide{
                width: 302px;
                height: 396px;
                .bn8-thumb-inner{
                    height: 396px;
                    width: 302px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .slider-btn{
            button{
                transition: all 0.4s;
                &:hover{
                    background: var(--p1);
                    i{
                        color: var(--n4);
                    }
                }
            }
        }
    }
    .mySwiper{
        .swiper-slide{
            width: 636px;
            height: 880px;
            .bn8-thumb-big{
                height: 912px;
                width: 636px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &:hover{
            pointer-events: unset;
        }
    }
    @include maxQuery(1900){
        gap: 30px;
    }
}
.banner-rightslider-v8small{
   .jk-cont{
        a{
            text-decoration: underline;
        }
   }
}
//Banner Eight
