//global html smooth behavior
html {
	scroll-behavior: smooth;
}
//global html smooth behavior

//global body
body {
	background-color: rgb(var(--bg1)); 
	color: var(--n2);
	font-size: 18px;
	line-height: 150%;
	padding: 0;
	margin: 0;
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
}
//global body

//global overflow hidden
section,
footer {
	overflow: hidden;
}
//global overflow hidden

//defult padding marning 0
a, 
p,
button,
span,
label,
li {
	margin: 0;
	font-family: var(--body-font);
	color: var(--n2);
	font-weight: 400;
	i{
		font-weight: 400;
	}
}
//defult padding marning 0

//defult a tag css none
a {
	text-decoration: none;
	outline: none;
	color: var(--n0);
	transition: var(--transition);
	&:focus, &:hover {
		text-decoration: none;
		outline: none;
		color: var(--p1);
	}
	i{
		font-weight: 400;
	}
}
//defult a tag css none

//heading tag 
h1,
h1 > a,
h2,
h2 > a,
h3,
h3 > a,
h4,
h4 > a,
h5,
h5 > a,
h6,
h6 > a,
.display-one, .display-two, .display-three, .display-four, .display-five, .display-six, .heading{
	font-family: var(--body-font);
	color: var(--n2);
	font-weight: 800;
	padding: 0;
	margin: 0;
	line-height: 128%;
	display: block;
	transition: all 0.4s;
	span{
		font-size: inherit;
		font-family: inherit;
		color: inherit;
		line-height: inherit;
		font-weight: inherit;
		transition: all 0.4s;
	}
	i{
		font-weight: 400;
		transition: 0.4s;
	}
}
//heading tag 

//img defult max-100
img {
	max-width: 100%;
	height: auto;
}
//img defult max-100

//ul defult padding margin none
ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
	li{
		font-size: inherit;
		font-weight: inherit;
	}
}
//ul defult padding margin none

//button defult outline none
button {
	border: none;
	cursor: pointer;
	font-size: 18px;
	line-height: 150%;
	padding: 0;
	background-color: transparent;
}
//button defult outline none


//common input style
input,
textarea {
	padding: 12px 20px;
	color: rgba(var(--n2), 0.5);
	width: 100%;
	font-family: var(--body-font);
	outline-color: transparent;
	font-size: 14px;
	border-radius: 6px;
	background-color: transparent;
	border: 1px solid var(--n3);
	&::placeholder {
		font-size: 16px;
	}
	&:focus{
		outline: none;
		box-shadow: none;
		border: none;
	}
}
//common input style

//Global Customer Review
.customer-review{

}
.customer-revew-item{
	border-radius: 50%;
	display: inline-block;
	@include box(49);
	img{
		@include box(46);
		border-radius: 50%;
	}
}
.customer-ratting{
	@include box(46);
	border-radius: 50%;
}
.cmn-style-flex{
	display: flex;
	align-items: center;
	li{
		&:not(:first-child){
			margin-left: -17px;
		}
	}
}
//Global Customer Review

//common container
.container-header{
	@include minQuery(575){
		max-width: 1621px;
		margin: 0 auto;
		padding-right: 16px;
		padding-left: 16px;
	}
	@include maxQuery(575){
		padding-right: 16px;
		padding-left: 16px;
	}
}
//common container

//common dots
.cmn-dot{
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	padding-left: 15px;
	&::before{
		position: absolute;
		left: 0;
		content: "";
		width: 6px;
		height: 6px;
		background: var(--s1);
		border-radius: 50%;
	}
	&.alt{
		align-items: flex-start;
		&::before{
			top: 10px;
		}
	}
}
.cmn-dot2{
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	padding-left: 19px;
	&::before{
		position: absolute;
		left: 0;
		content: "";
		width: 4px;
		height: 4px;
		background: var(--p1);
		border-radius: 50%;
	}
	&.alt{
		align-items: flex-start;
		&::before{
			top: 10px;
		}
	}
	@include maxQuery(1199){
		padding-left: 10px;
	}
}
.cmn-60{
	@include box(60);
	@include maxQuery(1399){
		@include box(40);
	}
}
//common dots

//custom big button
.custom-bigarrow{
	border: 1px solid var(--nw4);
	border-radius: 100px;
	padding: 8px 20px 11px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s;
	.icon{
		position: relative;
		svg{
			z-index: 1;
			position: relative;
			transition: all 0.4s;
		}
		&::before{
			position: absolute;
			right: -18px;
			top: -5px;
			content: "";
			width: 38px;
			height: 38px;
			background: var(--act4);
			border-radius: 50%;
			z-index: 0;
			transition: all 0.4s;
		}
	}
	&:hover{
		.icon{
			width: 100%;
			&::before{
				width: 100%;
				height: 38px;
				border-radius: 100px;
			}
		}
	}
}
//custom big button

// input custom 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="checkbox"] {
	width: initial;
	height: initial;
}
// input custom 

//direction rtl
.d-rtl {
	direction: rtl;
}
//direction rtl

//tranisition
.collapsing {
	transition: var(--transition);
}
//tranisition

//position area
.tl__posi{
	position: absolute !important;
	top: 0;
	left: 0;
}
.tr__posi{
	position: absolute !important;
	top: 0;
	right: 0;
}
.bl__posi{
	position: absolute !important;
	bottom: 0;
	left: 0;
}
.br__posi{
	position: absolute !important;
	bottom: 0;
	right: 0;
}
.posi-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
//position area



// color with class
.alt-color{
	a, p, span, h1, h2, h3, h4, h5, h6, i, select, button{
		//not color
	}
}
// color with class

//variable color Defult
.p1-clr{
	color: var(--p1);
}
.p1-border{
	border: 1px solid var(--p1);
}
.p1-bg{
	background: var(--p1);
}
.p1-border{
	border: 1px solid var(--p1)
}

.s1-clr{
	color: var(--s1);
}
.s1-border{
	border: 1px solid var(--s1);
}
.s1-bg{
	background: var(--s1);
}
.act1-clr{
	color: var(--act1);
}
.act1-border{
	border: 1px solid var(--act1);
}
.act1-bg{
	background: var(--act1);
}
.act2-clr{
	color: var(--act2);
}
.act2-border{
	border: 1px solid var(--act2);
}
.act2-bg{
	background: var(--act2);
}
.act3-clr{
	color: var(--act3);
}
.act3-border{
	border: 1px solid var(--act3);
}
.act3-bg{
	background: var(--act3);
}
.act4-clr{
	color: var(--act4) !important;
}
.act4-border{
	border: 1px solid var(--act4);
}
.act4-bg{
	background: var(--act4);
}
.act5-clr{
	color: var(--act5);
}
.act5-border{
	border: 1px solid var(--act5);
}
.act5-bg{
	background: var(--act5);
}

.nw1-clr{
	color: var(--nw1);
}
.nw1-bg{
	background: var(--nw1);
}
.nw2-clr{
	color: var(--nw2);
}
.nw2-bg{
	background: var(--nw2);
}
.nw3-clr{
	color: var(--nw3);
}
.nw3-bg{
	background: var(--nw3);
}
.nw4-clr{
	color: var(--nw4);
}
.nw4-bg{
	background: var(--nw4);
}
.nw4-border{
	border: 1px solid var(--nw4);
}
.nw4-bb{
	border-bottom: 1px solid var(--nw4);
}

.n0-clr{
	color: var(--n0);
}
.n0-border{
	border: 2px solid var(--n0);
}
.n0-border2{
	border: 1px solid var(--n0);
}
.n0-bg{
	background: var(--n0);
}
.n1-clr{
	color: var(--n1);
}
.n1-bg{
	background: var(--n1);
}
.n2-clr{
	color: var(--n2);
}
.n2-bg{
	background: var(--n2);
}
.n3-clr{
	color: var(--n3);
}
.n3-bg{
	background: var(--n3);
}
.n4-clr{
	color: var(--n4);
}
.n4-bt{
	border-top: 1px solid var(--n4);
}
.n4-border{
	border: 1px solid var(--n4);
}
.n4-bg{
	background: var(--n4);
}
.n5-clr{
	color: var(--n5);
}
.n5-bg{
	background: var(--n5);
}
.current-bg{
	background: #E9F2FF;
}
.bbd{
	border-bottom: 1px solid var(--borderd);
}
.winbg{
	background: rgba(244, 244, 244, 0.60);
}
//variable color Defult

//bg hover 
.s1-hover{
	transition: all 0.4s;
	&:hover{
		background: var(--act4) !important;
	}
}
.n0-hover{
	transition: all 0.4s;
	&:hover{
		background: var(--act3) !important;
	}
}
.n0-fillhover{
	transition: all 0.4s;
	&:hover{
		background: var(--n0) !important;
		border-color: var(--n0) !important;
	}
}
//bg hover 

//Global bg
.bg1-color{
	background: var(--bg1) !important;
}
.bg2-color{
	background: var(--bg2) !important;
}
//Global bg

//Shadow box
.box-shadow{
	box-shadow: 0px 5.12694px 25.6347px 0px rgba(0, 0, 0, 0.08);
    transition: var(--transition);
    &:hover{
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }
}
.box-shadow2{
	box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.06);
}
.box-shadow3{
	box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.06);
}
//Shadow box

//Font Weight
.fw_400{
	font-weight: 400 !important;
}
.fw_500{
	font-weight: 500 !important;
}
.fw_600{
	font-weight: 600 !important;
}
.fw_700{
	font-weight: 700 !important;
}
.fw_800{
	font-weight: 800 !important;
}
.fw_900{
	font-weight: 900 !important;
}
//Font Weight

//custom scroll 
.cus__scroll{
    max-height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
//custom scroll 65 vh

//cmn dropdown
.cmn__dropdown{
	.dropdown-menu{
		inset: unset !important;
		right: 0 !important;
		top: 0 !important;
		padding: 10px 16px;
	}
}
//cmn dropdown

//i transition
i{
	transition: all 0.4 !important;
}
//i transition

// cmn-btn
.kewta-btn{
	transition: all 0.4s;
	.kew-text{
		font-size: 16px;
		font-weight: 700;
		padding: 12px 24px;
		display: block;
		border-radius: 100px;
		text-align: center;
		transition: all 0.4s;
	}
	.kew-arrow{
		position: relative;
		overflow: hidden;
		.kt-one{
			position: absolute;
			top: 12px !important;
			left: -30px !important;
			transition: all 0.8s;
			i,
			svg{
				transition: all 0.8s;
				font-size: 24px;
			}
		}
		.kt-two{
			transition: all 0.8s;
			position: absolute;
			top: 12px;
			left: 11px;
			i,
				svg{
					transition: all 0.8s;
					font-size: 24px;
				}
		}
		min-width: 48px;
		min-height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		border-radius: 50%;
		transition: all 0.4s;
	}
	&:hover{
		.kew-arrow{
			.kt-one{
				left: 11px !important;
			}
			.kt-two{
				left: 100px !important;
			}
		}
	}


	//kewta alt
	&.kewta-alt{
		.kew-arrow{
			transform: rotate(-40deg);
		}
	}
}
// cmn-btn

// cmn width
.cmn-40{
	@include box(40);
	display: flex;
	align-items: center;
	justify-content: center;
}
// cmn width

// Draw Badge
.draw-badge{
	position: relative;
	padding: 10px 29px 10px 16px; 
	span{
		text-transform: uppercase;
	}
	&::before{
		background: var(--act3);
		clip-path: polygon(100% 0, 83% 50%, 100% 100%, 0% 100%, 0 45%, 0% 0%);
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 148px;
		height: 41px;
	}
	&.badge-blac{
		&::before{
			background: var(--n4);
		}
	}
}

.n4-badge{
	clip-path: polygon(100% 0, 93% 51%, 100% 100%, 0% 100%, 0 100%, 0% 0%);
	padding: 10px 38px 10px 16px;
	background: var(--n4);
	&.act4{
		background: var(--act4);
	}
}
// Draw Badge

// File Upload Custom
.file-upload{
    border-radius: 48px;
    border: 1px solid var(--p1);
	input{
		display: none;
	}
	.file {
		cursor: pointer;
		position: relative;
		.file-custom {
			border-radius: 20px;
		}
	}
	.add-file{
        color: var(--p1);
	}
}

// btn-popup-animation
.btn-popup-animation{
	@include box(80);       
	z-index: 0;
	transition: var(--transition);
	i{
		color: var(--p1);
	}
	&:before{
		content: "";
		position: absolute;
		width: 85%;
		height: 85%;
		background-color:var(--p1);
		border-radius: 50%;
		opacity: 0.6;
		z-index: -1;
		animation: pulse 2s ease-out infinite;
	}
	&:after{
		content: "";
		position: absolute;
		width: 85%;
		height: 85%;
		background-color: var(--p1);
		border-radius: 50%;
		opacity: 0.6;
		z-index: -1;
		animation: pulse 2s 1s ease-out infinite;
	}
}
@keyframes pulse {
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
@keyframes updown {
	50%{
		transform: translateY(-10px);
	}
}

// vertical border 
.v-border{
	background: var(--n40);
    width: 1px;
    height: 25px;
}

// vertical line
.v-line{
    &::before{
        position: absolute;
        content: '';
        width: 1px;
        height: 96px;
        background-color: var(--n40);
    }
    &.lg::before{
        height: 111px;
    }
	&.sm::before{
        height: 30px;
    }
    &.dashed::before{
        border-right: 1px dashed var(--n700);
        background: transparent;
    }
}
// vertical line

//quntitity
.cmn__quantity{
	input{
		width: 70px;
		margin: 0 auto;
		text-align: center;
		outline: none;
		padding: 0 0;
		&:hover{
			cursor: pointer;
		}
	}
	.up,
	.down{
		font-size: 22px;
		transition: all 0.4s;
		&:hover{
			cursor: pointer;
			background: var(--bg1);
			color: var(--p1);
		}
	}
}
.cmn__quantity2{
	.down,
	.up{
		height: auto;
		font-size: 13px;
		&:hover{
			background: transparent;
			color: var(--n700);
		}
	}
	.down{
		margin-bottom: -10px;
	}
}
//quntitity

// vertical border 
.cus-border{
	border-color: var(--n40) !important;
	transition: all 0.4s;
	&.second{
		border-color: var(--n700) !important;
		transition: all 0.4s;
	}
	&.third {
        border-color: var(--n500) !important; 
		transition: all 0.4s;
    }
   &:hover{
	border-color: var(--s2) !important;
   }
}

// dotted border
.w40{
	@include box(40);
}
.w60{
	@include box(60);
	background: var(--bg1);
	&::before{
		border: unset !important;
	}
	@include maxQuery(991){
		@include box(40);
	}
}

// ul custom dicimal
.ul-dots{
	li{
		list-style: disc;
	}
}
.ul-decimal{
	li{
		list-style: decimal;
	}
}
// ul custom dicimal

// Social Area 
.soc-item{
	@include box(40);
	svg, i, span{
		transition: var(--transition);
	}
	svg{
		path{
			transition: all 0.4s;
		}
	}
}

//Hover black
.soc-item-hover-black{
	&:hover{
		background: var(--n4);
		i{
			color: var(--p1);
		}
		svg{
			path{
				stroke: var(--p1);
			}
		}
	}
}
.hover-black{
	&:hover{
		color: var(--n4);
	}
}
.custom-border{
	
}

// Mouse Follower
.mouse-follower{
	z-index: 10;
	span{
		z-index: 10;
		opacity: 1;
		top: -10px;
		left: -10px;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		position: fixed;
		transition: 100ms ease-in-out;
		pointer-events: none;
	}
	.cursor-outline{
		height: 30px;
		width: 30px;
		border: 1px solid var(--p1);
	}
	.cursor-dot {
		height: 6px;
		width: 6px;
		background: var(--p1);
	}
	&.hide-cursor{
		span{
			border-color: transparent;
			background: transparent;
		}
	}
	@include maxQuery(991){
		display: none;
	}
}

span {
	display: inline-block;
}

.table thead th,
.table td,
.table th {
	border: none;
}

.ovf-unset {
	overflow-x: unset !important;
}

iframe {
	border: 0;
	width: 100%;
}
// Custom Dropdown 

*::-webkit-scrollbar {
	width: 2px;
	background: var(--n2);
}
//dashborar scroll customiz
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-thumb {
	background: var(--p1);
}

//mega-menu-style scroll
.mega-menu-style::-webkit-scrollbar {
	@include minQuery(1199){
		width: 2px;
	}
	@include maxQuery(1199){
		width: 0px;
	}
}
.mega-menu-style::-webkit-scrollbar-button,
.mega-menu-style::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2470588235);
}
.mega-menu-style{

}
.cus-scro80{
	height: 180px;
	overflow-y: scroll;
	.list{
		height: 150px;
		overflow-y: scroll;
	}
}
.cus-scrollbar{
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    max-height: 90vh;
    top: 100px;
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar {
		width: 3px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-button,
	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}
	&:hover{
		&::-webkit-scrollbar {
			width: 3px;
		}
		&::-webkit-scrollbar-track {
			background: rgba(255, 211, 198, 0.5);
		}
		&::-webkit-scrollbar-button,
		&::-webkit-scrollbar-thumb {
			background: var(--p1);
		}
	}
}

//display center
.d-center{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
//display center

//z index property
.cus-nz1 {
	z-index: -1;
}

.cus-z0 {
	z-index: 0;
}

.cus-z1 {
	z-index: 1;
}

.cus-z2 {
	z-index: 2;
}
//z index property

// Custom Tabs
.singleTab{
	.nav-links{
		cursor: pointer;
	}
	.tabContents {
		position: relative;
		.tabItem {
			transform: translateY(100px);
			position: absolute;
			z-index: -1;
			top: 0;
			width: 100%;
			opacity: 0;
			transition: 0.8s all;
			&.active {
				position: initial;
				z-index: 1;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	&.pros-cros{
		.nav-item{
			border-radius: unset;
			background: rgba(12, 169, 64, 0.70);
			font-weight: 700;
			color: rgba(var(--p2));
			.active{
				background: rgba(var(--p1));
			}
			button{
				transition: var(--transition);
			}
		}
	}
}
// Custom Tabs

//cmn shadow
.cmnshadow{
	transition: all 0.4s;
	border-radius: 32px;
	&:hover{
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
		border-color: var(--n20) !important;
	}
}
//cmn shadow

// Search section
.search-area {
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        background: rgba(var(--bg1));
        z-index: -1;
    }
    .search-box {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(5, 1fr);
        @include maxQuery(1199) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include maxQuery(767) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include maxQuery(575) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

//section title
.section__title{
	.act4-underline{
		position: relative;
		&::before{
			position: absolute;
			bottom: 6px;
			left: 0;
			width: 100%;
			height: 2px;
			content: "";
			background: var(--act4);
		}
	}
	@include maxQuery(1399){
		.display-four{
			font-size: 36px;
		}
	}
	@include maxQuery(575){
		.display-four{
			font-size: 29px;
		}
	}
}
.act4-underline{
	position: relative;
	&::before{
		position: absolute;
		bottom: 6px;
		left: 0;
		width: 100%;
		height: 2px;
		content: "";
		background: var(--act4);
	}
	@include maxQuery(1399){
		&::before{
			bottom: 0px;
			height: 1px;
		}
	}
	@include maxQuery(767){
		&::before{
			bottom: 0px;
		}
	}
}
//section title two
.sec__titletwo{
	.two__title{
		font-size: 56px;
		font-weight: 600;
		line-height: 120%;
	}
	@include maxQuery(1199){
		.two__title{
			font-size: 42px;
			font-weight: 600;
			line-height: 120%;
		}
	}
	@include maxQuery(575){
		.two__title{
			font-size: 38px;
		}
	}
	@include maxQuery(500){
		.two__title{
			font-size: 28px;
		}
		p{
			font-size: 16px;
		}
	}
}

// Pagination
.pagination{
	li{
		transition: all 0.4s;
		a{
			transition: all 0.4s;
			color: var(--n700);
			i{
				color: var(--n700);
			}
		}
		&:hover{
			a{
				transition: all 0.4s;
				background: var(--p1) !important;
				border-color: var(--p1) !important;
			}	
		}
	}
	.page-item{
		.page-link{
			outline: none;
			bottom: 0;
			padding: 0;
			width: 32px;
			height: 32px;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			border-radius: 5px;
			z-index: 999;
			&:hover, &.active, &:focus{
				background-color: var(--p1);
				border-color: transparent;
				box-shadow: none;
			}
		}
	}
}
// Pagination

// Pagination
// Pagination

// video cmn
.video__cmn64{
	@include box(64);
}
.video__56{
	@include box(56);
	@include maxQuery(1399){
		@include box(48);
	}
}
// video cmn

// Nice Select
.nice-select {
	background-color: transparent;
	border: transparent;
	float: initial;
	overflow: initial;
	height: initial;
	padding: 0;
	display: inline-flex;
	align-items: center;
	line-height: 150%;
	width: 100%;
	&:focus, &:hover {
		border-color: transparent;
	}
	&::after {
		height: 10px;
		width: 10px;
		right: 15px;
		top: initial;
		border-color: rgba(var(--n2), 0.6);;
	}

	.list {
		width: initial;
		background-color: rgba(var(--n8), 1);
		box-shadow: none;
		overflow: initial;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
		width: 100%;
		top: 100%;
		padding: 0;
		max-height: 50vh;
		overflow-x: auto;
		&::-webkit-scrollbar{
			width: 2px;
			opacity: 1;
			display: block;
		}
		&::-webkit-scrollbar-button,
		&::-webkit-scrollbar-thumb{
			background: var(--s2);
		}
	}
	.option {
		background-color: transparent;
		font-size: 16px;
		line-height: 150%;
		padding: 4px 5px;
		min-height: initial;
		font-weight: 500;
		&:hover,
		&:focus,
		&.selected.focus {
			background-color: transparent;
		}
	}
	.current{
		font-weight: 500;
	}
}
// Nice Select

// checkbox-single
.checkbox-single {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		left: 0;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		border: 1px solid var(--n40);
		&::after {
			content: "";
		}
	}
	input:checked ~ .checkmark {
		&::after {
			content: "done";
			position: absolute;
            font-family: 'Material Symbols Outlined';
			color: var(--n500);
		}
	}
	input:checked ~ .checkmark:after {
		display: block;
	}
}
// checkbox-single

// Single switch
// Single Radio
.single-radio {
	cursor: pointer;
	user-select: none;
	position: relative;
	&:hover input ~ .checkmark {
		background-color: transparent;
	}
	.checkmark {
		position: absolute;
		left: 0;
		height: 16px;
		width: 16px;
		border: 1px solid var(--p1);
		border-radius: 50%;
		&::after {
			content: "";
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: transparent;
		}
	}
	input:checked ~ .checkmark {
		background-color: transparent;
		border: 1px solid ;
		&::after {
			display: block;
			background: var(--p1);
		}
	}
}
// Single switch

// cmn body scroll body btn
.scroll-bn1{
	width: 112px;
	height: 212px;
	position: absolute;
	bottom: 40px;
	left: 60px;
	.scroll-iconrarea{
		animation: updown10 2s linear infinite;
	}
	@include maxQuery(1700){
		bottom: 10px;
		left: 10px;
		width: 70px;
		height: 160px;
	}
	@include maxQuery(1600){
		width: 60px;
		height: 110px;
		span{
			margin-bottom: 1px;
		}
		svg{
			width: 20px;
			height: 40px;
		}
	}
	@include maxQuery(1399){
		bottom: 5px;
		left: 5px;
		width: 30px;
		height: 50px;
		.fs18{
			display: none !important;
		}
		svg{
			width: 8px;
			height: 26px;
		}
	}
	@include maxQuery(575){
		bottom: 15px;
		right: 15px !important;
		left: initial;
		width: 30px;
		height: 50px;
		.fs18{
			display: none !important;
		}
		svg{
			width: 8px;
			height: 26px;
		}
	}
}

//cmn animation eyframes
@keyframes updown10 {
	50%{
		transform: translateY(-10px);
	}
}
@keyframes ske {
	50%{
		transform: skewX(10deg);
	}
}
@keyframes alf {
	50%{
		transform: translateX(-10px);
	}
}
// cmn body scroll body btn

// swiper slider btn
.swiper-button-prevteam,
.swiper-button-nextteam {
	outline: none;
	bottom: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 5px;
	z-index: 5;
	transition: all 0.4s;
	i{
		transition: all 0.4s;
		font-size: 26px;
	}
	&:hover{
		background: var(--p1);
		i{
			color: var(--n1);
		}
	}
	@include maxQuery(1399){
		i{
			font-size: 18px;
		}
	}
}
.cmn-s1-slide{
	outline: none;
	bottom: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	z-index: 5;
	transition: all 0.4s;
	i{
		transition: all 0.4s;
		font-size: 26px;
		line-height: 2;
	}
	&:hover{
		background: var(--act4);
		i{
			color: var(--n0) !important;
		}
	}
	@include maxQuery(1399){
		i{
			font-size: 18px;
		}
	}
}
// swiper cmn btn

// cmn circle 160
.cmn__collection{
	@include box(160);
	display: block;
	z-index: 1;
	&::before{
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		content: "";
		background: rgb(255 148 88 / 35%);
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.5s;
		z-index: 0;
		opacity: 0;
	}
	&::after{
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		content: "";
		background: var(--act4);
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: all 1.8s;
		z-index: 0;
		opacity: 0;
	}
	&:hover{
		&::before{
			width: 100%;
			height: 100%;
			opacity: 1;
		}
		&::after{
			width: 100%;
			height: 100%;
			opacity: 1;
		}
		.cmn-cont-box{
			color: var(--n0);
			span{
				color: var(--n0);
			}
			.icon{
				transform: rotate(-60deg);
			}
		}
	}
	.cmn-cont-box{
		z-index: 3;
		transition: all 0.4s;
		span,
		i{
			transition: all 0.4s;
		}
	}
	@include maxQuery(1199){
		@include box(100);
		span{
			font-size: 12px;
			max-width: 50px;
			line-height: 1.1;
		}
	}
}
// cmn circle 160

// slider pagination
.slider-pagination{
	width: initial;
	span{
		letter-spacing: 10px;
		color: rgba(var(--s2), 1);
	}
}
// slider pagination

//border radius
.radius-circle{
	border-radius: 50% !important;
}
.radius100{
	border-radius: 100px !important;
}
.radius32{
	border-radius: 32px !important;
}
.radius24{
	border-radius: 24px !important;
}
.radius20{
	border-radius: 10px !important;
}
.radius18{
	border-radius: 18px !important;
}
.radius16{
	border-radius: 16px !important;
}
.radius14{
	border-radius: 14px !important;
}
.radius13{
	border-radius: 13px !important;
}
.radius12{
	border-radius: 12px !important;
}
.radius11{
	border-radius: 11px !important;
}
.radius10{
	border-radius: 10px !important;
}
.radius9{
	border-radius: 9px !important;
}
.radius8{
	border-radius: 8px !important;
}
.radius7{
	border-radius: 7px !important;
}
.radius6{
	border-radius: 6px !important;
}
.radius5{
	border-radius: 5px !important;
}
.radius4{
	border-radius: 4px !important;
}
.radius3{
	border-radius: 3px !important;
}
.radius2{
	border-radius: 2px !important;
}
.radius1{
	border-radius: 1px !important;
}
//border radius

// Input Area
.input-area {
    background-color: transparent;
    border: 1px solid var(--n40);
    &:focus-within {
        border: 1px solid solid;
        outline: 1px solid var(--s2);
        border-color: transparent;
    }
    input,
    textarea {
        border-radius: 0;
        padding: 0;
        border: none;
		outline: none;
        background: transparent;
		font-size: 16px;
        &::placeholder {
            color: var(--n300);
            font-weight: 500;
        }
    }
    .nice-select {
		padding-right: 40px !important;
        &::placeholder {
            color: rgba(var(--n3), 1);
        }
        &:focus,
        &:hover {
            border: none;
            outline: none;
            color: rgba(var(--n3), 1);
        }
        .current {
            color: rgba(var(--n3), 1);
            font-size: 16px;
            border: none;
            outline: none;
        }
        .list {
            border: 1px solid rgba(var(--n6), 0.2);
            bottom: initial;
            padding: 8px 16px;
            background: rgb(var(--bg1));
            color: rgba(var(--n3), 1);
        }
        &::after {
            display: block;
            right: 24px;
        }
    }
    &.second {
        border-radius: 48px;
        border: 1px solid rgba(var(--n5), 1);
        input {
            font-size: 16px;
        }
    }
}
// Input Area

// Text animation 
.textcircle{
	.text {
		width: 200px;
		height: 200px;
		color: var(--n0);
		font-size: 14px;
		animation: textRotation 18s linear infinite;
	}
	@keyframes textRotation {
		to {
			transform: rotate(360deg);
		}
	}
	.text span {
		position: absolute;
		left: 50%;
		font-size: 14px;
		transform-origin: 0 80px;
		color: rgba(255, 255, 255, 0.60);
		font-weight: 400 !important;
		font-family: initial;
		text-transform: uppercase;
	}
}
// Text animation

// Animation Start 
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn1st {
    0% {
        opacity: 0;
        transform: translate3d(10%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn2nd {
    0% {
        opacity: 0;
        transform: translate3d(-10%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes loading {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(180deg);
	  transform: rotate(180deg);
	}
}
// Animation Start 